table,
th,
td {
	margin: 10px;
	min-width: 250px; /*to to rozklady rozszerza*/
	border: 2px black;
	border-style: groove;
	background-color: #d6f696;
	text-align: center;
}

/* table {
	table-layout: fixed;
} */

button {
	margin: 0px 0px 0px 15px;
	background-color: khaki;
}
.button {
	display: inline-block;
	padding: 15px 25px;
	font-size: 24px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #04aa6d;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
}

.button:hover {
	background-color: #3e8e41;
}

.button:active {
	background-color: #3e8e41;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

body {
	background-color: #ffd740;
}

h2 {
	text-align: center;
}
