table,
th,
td {
	margin: 10px;
	min-width: 250px; /*to to rozklady rozszerza*/
	border: 2px black;
	border-style: groove;
	background-color: #d6f696;
	/* text-align: center; */
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: #666;
}

button {
	margin: 0px 0px 0px 15px;
	background-color: khaki;
}

body {
	background-color: #ffd740;
}

* {
	text-align: left;
	font-family: "Arial";
}

.opis {
	background-color: khaki;
	border: 1px solid black;
}
